.table-row-cell {
    -fx-background-color: transparent;
    -fx-border-color: rgb(255,255,255, 0.3);
    -fx-table-cell-border-color: rgb(255,255,255, 0.3);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-alignment:CENTER_LEFT
}

.table-cell {
-fx-text-fill:white;
}
.table-view .column-header {
    -fx-background-color:  #A79543;
}
.table-view .column-header-background .filler {
    -fx-background-color:   #A79543;
}
.table-view .column-header .label{
   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-font-size: 10px;
   -fx-alignment:CENTER_LEFT
}
.label {
-fx-background-color: transparent;
   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-font-size: 10px;

}
.chart {
-fx-background-color: transparent;

}
.chart-plot-background {
    -fx-background-color: transparent;
}
.chart-vertical-grid-lines {
    -fx-stroke: #3278fa;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #3278fa;
}
.chart-alternative-row-fill {
    -fx-fill: #99bcfd;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}
.table-row-cell:selected {
   -fx-background-color: steelblue;
}
.table-row-cell:empty {
    -fx-background-color: steelblue;
}